
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
http://www.clker.com/clipart-gas-station-black.html
http://iconexpo.com/2008/12/free-gmail-icons/
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="author" content="renato"/>
        <title>translink</title>
        <link rel="stylesheet" href="stylesheets/stylesheet.css" type="text/css" media="screen" charset="utf-8" />
        <script type="text/javascript"> 
            google.load("jquery", "1.4"); 
        </script> 
    </head>
    <body>
        <div id="panel">
              <input id="address" type="search">
              <input type="button" value="  Ir!  " onclick="codeAddress()">
            </div>
        <div id="container">
            <div id="header">
                <h1>:)  </h1>
                <h2>translink</h2>
            </div>
        </div>
    </body>
</html>
