<html ng-app='main-transit'>
    <head>
        <title>Transit Vancouver</title>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
    </head>
    <body>

        <page-head></page-head>

         <route-searchform></route-searchform>

         <route-trips></route-trips>

        <!--trip-searchform></trip-searchform-->

        <!--trip-elements></trip-elements-->

        <script type="text/javascript" src="/javascripts/angular.min.js"></script>
        <script type="text/javascript" src="/ang-app/main.js"></script>
        <script type="text/javascript" src="/ang-app/trips.js"></script>
        <script type="text/javascript" src="/ang-app/routes.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>

        <page-bottom></page-bottom>

    </body>

</html>